In [1]:
import numpy as np
import pandas as pd
from scipy import sparse
from sklearn.preprocessing import normalize

In [2]:
interactions_df = pd.read_csv("lastfm_user_scrobbles.csv")
titles_df = pd.read_csv("lastfm_artist_list.csv")

In [6]:
titles_df

           artist_id   artist_name
artist_id
1                  1       __Max__
2                  2       _Algol_
3                  3     -123 Min.
4                  4          -Oz-
5                  5  -T De Sangre
...              ...           ...
17489          17489          鷺巣詩郎
17490          17490           黃立行
17491          17491           黄义达
17492          17492         黒木メイサ
17493          17493            鼓童

[17493 rows x 2 columns]

In [3]:
interactions_df

       user_id  artist_id  scrobbles
0            1       4562      13883
1            1      10191      11690
2            1        494      11351
3            1       6673      10300
4            1       8402       8983
...        ...        ...        ...
92787     1892      10098        278
92788     1892       8660        263
92789     1892       3274        258
92790     1892       4240        232
92791     1892      10842        228

[92792 rows x 3 columns]

In [4]:
interactions_df.groupby("user_id").count().mean()

artist_id    49.044397
scrobbles    49.044397
dtype: float64

In [5]:
titles_df.index = titles_df["artist_id"]
title_dict = titles_df["artist_name"].to_dict()

In [7]:
rows, r_pos = np.unique(interactions_df.values[:,0], return_inverse=True)
cols, c_pos = np.unique(interactions_df.values[:,1], return_inverse=True)

In [8]:
artists_sparse = sparse.csr_matrix((interactions_df.values[:,2], (r_pos, c_pos)))

In [9]:
print(artists_sparse)

  (0, 262)	1315
  (0, 493)	11351
  (0, 1621)	2547
  (0, 2561)	2584
  (0, 2605)	2397
  (0, 3237)	1792
  (0, 3271)	3579
  (0, 3512)	1740
  (0, 3559)	6152
  (0, 3827)	1559
  (0, 3991)	2619
  (0, 4126)	2654
  (0, 4546)	1337
  (0, 4561)	13883
  (0, 4784)	2382
  (0, 4949)	3735
  (0, 5205)	3312
  (0, 5336)	1990
  (0, 5435)	1342
  (0, 5854)	2120
  (0, 6035)	4616
  (0, 6067)	1553
  (0, 6187)	1972
  (0, 6672)	10300
  (0, 6853)	2927
  :	:
  (1891, 8659)	263
  (1891, 8660)	443
  (1891, 8726)	731
  (1891, 9074)	655
  (1891, 9428)	1459
  (1891, 10097)	278
  (1891, 10180)	404
  (1891, 10212)	758
  (1891, 10432)	1068
  (1891, 10792)	289
  (1891, 10841)	228
  (1891, 10878)	337
  (1891, 10910)	456
  (1891, 11425)	705
  (1891, 12461)	389
  (1891, 12731)	626
  (1891, 13032)	724
  (1891, 13256)	429
  (1891, 13303)	553
  (1891, 13880)	403
  (1891, 14180)	1062
  (1891, 14816)	793
  (1891, 16053)	457
  (1891, 16191)	535
  (1891, 16639)	1333

In [10]:
Pui = normalize(artists_sparse, norm='l2',axis=1)
sim = Pui.T * Pui

In [140]:
recomend = [title_dict[i+1] for i in sim[11210].toarray().argsort()[0][-20:]]
recomendations = list(reversed(recomend))
recomendations

['Panic! At The Disco',
 'Paramore',
 'Britney Spears',
 'Lady Gaga',
 'My Chemical Romance',
 'Fall Out Boy',
 '30 Seconds To Mars',
 'Rammstein',
 'Muse',
 'The Beatles',
 'Katy Perry',
 'Arctic Monkeys',
 'The Killers',
 'Avril Lavigne',
 'Placebo',
 'Green Day',
 'Blink-182',
 'Avenged Sevenfold',
 'The Academy Is...',
 'The Used']

In [ ]:
artists_sparse_transposed = artists_sparse.transpose(copy=True)
Piu = normalize(artists_sparse_transposed, norm='l2', axis=1)

similarity = Pui * Piu * Pui

In [ ]:
[title_dict[i+1] for i in np.nonzero(artists_sparse[520])[1].tolist()]

In [124]:
[title_dict[i+1] for i in similarity[520].toarray().argsort()[0][-20:].tolist()]

['Vast',
 'The Crüxshadows',
 'Within Temptation',
 'Anathema',
 'Lady Gaga',
 'Nine Inch Nails',
 'Paradise Lost',
 'Assemblage 23',
 'The Beatles',
 'Radiohead',
 'Paramore',
 'Duran Duran',
 'Vnv Nation',
 'Muse',
 'Blutengel',
 'Pearl Jam',
 'The Birthday Massacre',
 'The Cure',
 'Placebo',
 'Depeche Mode']